 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [2]:
# Path for Whale Returns
whalereturncsv = Path("c:/Users/Aakshay Gautam/Desktop/Homework/Module4/Starter_Code/Resources/whale_returns.csv")

In [3]:
# Reading whale returns
whale_df = pd.read_csv(whalereturncsv, index_col='Date', infer_datetime_format=True, parse_dates=True)
whale_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [4]:
# Sorting
whale_df = whale_df.sort_index()
whale_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [5]:
# Count nulls
whale_df.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [6]:
# Drop nulls
whale_df = whale_df.dropna()
whale_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

In [7]:
# Check again for nulls
whale_df.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [8]:
# Path for Algo Daily Returns
algodailypath = Path("c:/Users/Aakshay Gautam/Desktop/Homework/Module4/Starter_Code/Resources/algo_returns.csv")

In [9]:
# Reading algorithmic returns
algo_df = pd.read_csv(algodailypath, index_col='Date', infer_datetime_format=True)
algo_df.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [10]:
# Count nulls
algo_df.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [11]:
# Drop nulls
algo_df = algo_df.dropna()
algo_df.head()

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761

In [12]:
# Check again for nulls
algo_df.isnull().sum()

Algo 1    0
Algo 2    0
dtype: int64

## S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [13]:
# Path for S&P TSX 60 Returns 
spcsv = Path("c:/Users/Aakshay Gautam/Desktop/Homework/Module4/Starter_Code/Resources/sp_tsx_history.csv")

In [14]:
# Reading S&P TSX 60 Closing Prices
sp_tsx_df = pd.read_csv(spcsv, index_col='Date', infer_datetime_format=True)
sp_tsx_df.head()

                 Close
Date
1-Oct-2012  $12,370.19
2-Oct-2012  $12,391.23
3-Oct-2012  $12,359.47
4-Oct-2012  $12,447.68
5-Oct-2012  $12,418.99

In [15]:
# Check Data Types
sp_tsx_df.dtypes

Close    object
dtype: object

In [16]:
# Removing "$" , ","
sp_tsx_df['Close'] = sp_tsx_df['Close']
sp_tsx_df['Close'] = sp_tsx_df['Close']

In [17]:
# Fix Data Types
sp_tsx_df['Close'] =sp_tsx_df['Close'].astype(float)
sp_tsx_df.dtypes

ValueError: could not convert string to float: '$12,370.19'

In [ ]:
# Calculate Daily Returns
sp_tsx_daily = sp_tsx_df.pct_change()
sp_tsx_daily.head()

In [ ]:
# Count Nulls
sp_tsx_daily.isnull().sum()

In [ ]:
# Drop nulls
sp_tsx_daily = sp_tsx_daily.dropna()
sp_tsx_daily.head()

In [ ]:
# Check again for nulls
sp_tsx_daily.isnull().sum()

In [ ]:
# Rename `Close` Column to be specific to this portfolio.
sp_tsx_daily.columns = ['S&P TSX']
sp_tsx_daily.head()

## Combine Whale, Algorithmic, and S&P TSX 60 Returns

In [ ]:
# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.
total_df = pd.concat([whale_df, algo_df, sp_tsx_daily], axis='columns', join='inner')
total_df.head()

In [ ]:
# Sorting
total_df = total_df.sort_index()
total_df.head()

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [ ]:
# Plot daily returns of all portfolios
total_df.plot(figsize=(20,10))

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios
total_cumulative = (1 + total_df).cumprod() -1

# Plot cumulative returns
total_cumulative.plot(figsize=(20,10))

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios.
4. Determine which portfolios are riskier than the S&P TSX 60.
5. Calculate the Annualized Standard Deviation.

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk
total_df.boxplot(figsize=(20,10))

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios
total_std = total_df.std().sort_values(ascending = True)
print(f"Standard Deviation of each Portfolio:): \n{total_std}")

### Determine which portfolios are riskier than the S&P TSX 60

In [ ]:
# Calculate  the daily standard deviation of S&P TSX 60
sptsx_std = total_df['S&P TSX'].std()
print(f'Standard Deviation of S&P TSX 60: {sptsx_std}')

# Determine which portfolios are riskier than the S&P TSX 60
risky_port = total_std[total_std > sptsx_std]
print(f'The following portfolios are more risky than S&P TSX 60:\n{risky_port}')

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)
annual_std = total_std * np.sqrt(252)
print(f"Annualized Standard Deviation for each Portfolio: \n{annual_std}")

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window.
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P TSX 60.
3. Choose one portfolio, then calculate and plot the 60-day rolling beta for it and the S&P TSX 60.

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window
rolling_std = total_df.rolling(window=21).std()

# Plot the rolling standard deviation
rolling_std.plot(figsize=(20,10))

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation
correlation = total_df.corr()

# Display de correlation matrix
correlation

In [ ]:
# Correlation Matrix Plotting
sns.heatmap(correlation, vmin =-1, vmax=1)

In [ ]:
#

### Calculate and Plot Beta for a chosen portfolio and the S&P 60 TSX

In [ ]:
# Calculate covariance of a single portfolio (Chosen Algo 1)
covariance = total_df['Algo 1'].rolling(window=60).cov(total_df['S&P TSX'])

# Calculate variance of S&P TSX
variance = total_df['S&P TSX'].rolling(window=60).var()

# Computing beta
algo1_beta = covariance / variance

# Plot beta trend
algo1_beta.plot(figsize=(20,10))

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [ ]:
# Use `ewm` to calculate the rolling window
expwtd_std = total_df.ewm(halflife=21).std()
expwtd_std

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios
sharpe_ratios = (total_df.mean() * 252) / (total_df.std() * np.sqrt(252))
print("Sharpe Ration for each Portfolio: \n{sharpe_ratios}")

In [ ]:
# Visualize the sharpe ratios as a bar plot
sharpe_ratios.plot(kind = "bar", title = "Sharpe Ratios")

### Determine whether the algorithmic strategies outperform both the market (S&P TSX 60) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P TSX 60. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock.
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns.
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others.
5. Include correlation analysis to determine which stocks (if any) are correlated.

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [ ]:
# Reading data from 1st stock
l_path = Path("c:/Users/Aakshay Gautam/Desktop/Homework/Module4/Starter_Code/Resources/l_historical.csv")
lhistorical_df = pd.read_csv(l_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
lhistorical_df.head()

In [ ]:
# Reading data from 2nd stock
otex_path = Path("c:/Users/Aakshay Gautam/Desktop/Homework/Module4/Starter_Code/Resources/otex_historical.csv")
otex_df = pd.read_csv(otex_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
otex_df.head()

In [ ]:
# Reading data from 3rd stock
shop_path = Path("c:/Users/Aakshay Gautam/Desktop/Homework/Module4/Starter_Code/Resources/shop_historical.csv")
shop_df = pd.read_csv(shop_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
shop_df.head()

In [ ]:
# Combine all stocks in a single DataFrame
combined_df = pd.concat([lhistorical_df, otex_df, shop_df], axis="columns", join="inner")
combined_df.head()

In [ ]:
# Reset Date index
combined_df = combined_df.reset_index()
combined_df.head()

In [ ]:
# Reorganize portfolio data by having a column per symbol - dropping unnecessary columns
combined_df = combined_df.drop(columns=["Symbol", "Symbol", "Symbol"])
combined_df.head()

In [ ]:
# Drop the Symbol column
columns = ["Date", "L", "OTEX", "SHOP"]
combined_df.columns = columns
combined_df.head()

In [ ]:
#Better Presentation of Data
combined_df = combined_df.set_index("Date")
combined_df.head()

In [ ]:
# Calculate daily returns
dailyreturns = combined_df.pct_change()

# Drop NAs
dailyreturns = dailyreturns.dropna()

# Display sample data
dailyreturns.head()

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return
portfolioreturns = dailyreturns.dot(weights)

# Display sample data
portfolioreturns.head()

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame
final_portfolio = pd.concat([total_df, portfolioreturns], axis="columns", join="inner")
final_portfolio = final_portfolio.rename(columns={0:"Final Portfolio"})
final_portfolio.head()

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)
final_portfolio = final_portfolio.dropna().copy()
final_portfolio.head()

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`
final_portfolio_std = final_portfolio.std().sort_values(ascending=True)
final_portfolio_std.head()

In [ ]:
yearlyfinal_portfolio_std = final_portfolio_std*np.sqrt(252)
print(f"Annualized Standard Deviation: \n{final_portfolio_std} ")

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation


# Plot rolling standard deviation
final_portfolio_std.rolling(window=21).std().plot(figsize=(20,10))

### Calculate and plot the correlation

In [ ]:
# Calculation
finalportfolio_correlation = final_portfolio.corr()
finalportfolio_correlation

In [ ]:
# Plotting
sns.heatmap(finalportfolio_correlation, vmin=-1, vmax=1)

### Calculate and Plot the 60-day Rolling Beta for Your Portfolio compared to the S&P 60 TSX

In [ ]:
# S&P TSX Variance
sp_variance = final_portfolio["S&P TSX"].var()

In [ ]:
# Final Portfolio Covariance
final_covariance = final_portfolio["Final Portfolio"].cov(final_portfolio["S&P TSX"])

In [ ]:
# Calculating Beta
final_beta = final_covariance / sp_variance

In [ ]:
# Plotting Beta
rolling_covariance = final_portfolio["Final Portfolio"].rolling(window=60).cov(final_portfolio["S&P TSX"])
rolling_sp_variance = final_portfolio["S&P TSX"].rolling(window=60).var()
rolling_final_beta = rolling_covariance/rolling_sp_variance
rolling_sp_variance.plot(figsize=(20,10))

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualized Sharpe Ratios
final_sharpe_ratios = ((final_portfolio.mean()*252)/(final_portfolio.std()*np.sqrt(252)))
print (f"The Sharpe Ratios are: \n{final_sharpe_ratios}")

In [ ]:
# Visualize the sharpe ratios as a bar plot
final_sharpe_ratios.plot.bar(title = "Final Sharpe Ratios")

### How does your portfolio do?

Write your answer here!

In [ ]:
# The Custom Portfolio outperforms the S&P 60 TSX Index and all the other portfolios except for Algo 1.
# Algo 1 ouperforms all the portfolios.